<!--Main body-->


<div class="container-fluid">


    <!--Main row -->
    <div class="row ">

        <!-- Right sidebar template selection -->
        <md-sidenav md-component-id="right"  class="md-sidenav-right">
            <!-- New card for every theme configured -->
            <md-content class="md-padding" >

                <md-toolbar ><h1 class="md-toolbar-tools">Templates</h1></md-toolbar>

                <md-card ng-show="{{template.show}}" ng-repeat="template in tempInfo">
                    <img ng-src="templates/{{template.id}}/preview.png" class="md-card-image" alt="image caption">
                    <md-card-content>
                        <h2  class="md-title">{{template.name}}</h2>
                        <p>{{template.desc}}</p>
                        <div class="md-actions" layout="row" layout-align="end center">
                            <md-button>Try this template</md-button>
                        </div>
                    </md-card-content>

                </md-card>
            </md-content>
        </md-sidenav>



        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" show-sm hide-gt-md>
            <md-toolbar ><h1 class="md-toolbar-tools">Your Information</h1></md-toolbar>

            <md-content layout-padding ng-controller="appBuilderCtrl">
                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>

                <md-input-container>
                    <label>Bride Name</label>
                    <input type="text"   ng-change="updateIframe()"  ng-model="data"  >
                </md-input-container>

                <md-button ng-click="updateIframe()">Reset</md-button>

            </md-content>
        </md-sidenav>





        <!--  Left sidenav for enterign data-->
        <div class="col-lg-3 col-md-3 hide-gt-md">

            <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"  hide-sm>


                <md-toolbar ><h1 class="md-toolbar-tools">Your Information</h1></md-toolbar>

                <md-content layout-padding ng-controller="appBuilderCtrl">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>

                    <md-input-container>
                        <label>Bride Name</label>
                        <input type="text"   ng-change="updateIframe()"  ng-model="data"  >
                    </md-input-container>

                    <md-button ng-click="updateIframe()">Reset</md-button>

                   

                </md-content>
            </md-sidenav>

        </div>

        <!--  Right col for loading html file-->
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

            <md-toolbar  layout="row" >

                <md-button class="md-toolbar-tools" ng-click="openInfoSetter()"  hide-gt-md>
                    Show Your Information
                </md-button>
                <!--hide-gt-md-->

                 <!--Device selector-->
                <md-select class="md-toolbar-tools" ng-model="topping" placeholder="Preview Size">

                    <md-optgroup >
                    <md-option  ng-value="None" ng-click="resetDisplay()"> <md-button >Reset Display </md-button></md-option>
                    </md-optgroup>

                    <md-optgroup label="Desktop">
                        <md-option ng-model = "device.name" ng-value="device.name" ng-click="updateDisplay(device.width,device.height)" ng-repeat="device in devices | filter: {category: 'Desktop' }">{{device.name}}</md-option>
                    </md-optgroup>
                    <md-optgroup label="Phone">
                        <md-option ng-model = "device.name" ng-value="device.name" ng-click="updateDisplay(device.width,device.height)" ng-repeat="device in devices | filter: {category: 'Phone' }">{{device.name}}</md-option>
                    </md-optgroup>
                    <md-optgroup label="Phablet">
                        <md-option ng-model = "device.name" ng-value="device.name" ng-click="updateDisplay(device.width,device.height)" ng-repeat="device in devices | filter: {category: 'Phablet' }">{{device.name}}</md-option>
                    </md-optgroup>
                    <md-optgroup label="Tablet">
                        <md-option ng-model = "device.name" ng-value="device.name" ng-click="updateDisplay(device.width,device.height)" ng-repeat="device in devices | filter: {category: 'Tablet' }">{{device.name}}</md-option>
                    </md-optgroup>

                </md-select>



                    <md-button class="md-toolbar-tools" ng-click="openTemplateSelector()" > Select Different Template </md-button>

            </md-toolbar>

            <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
                <iframe id="myResponsiveWindow" src="templates/1/index.html" style="width: 100%; height: 1024px"></iframe>
            </md-whiteframe>


        </div>



</div>

    </div>