<!--Main body-->
<div class="container-fluid" ng-controller="appBuilderCtrl">
    <!--Main row -->
    <div class="row ">

        <!-- Right sidebar template selection -->
        <md-sidenav md-component-id="right"  class="md-sidenav-right">
            <!-- New card for every theme configured -->
            <md-content class="md-padding" >

                <md-toolbar layout="row" >
                    <md-button class="md-toolbar-tools" ng-click="openTemplateSelector()" >   <i class="material-icons md-24 md-light">input</i> <span>Select Template </span></md-button>
                </md-toolbar>

                <div ng-include="'pages/templateview.html'"></div>

            </md-content>
        </md-sidenav>


        <!--  Left sidenav for smaller devices-->
        <md-sidenav class="md-sidenav-left" md-component-id="left"  show-sm show-md show-lg hide-gt-md>

            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button ng-click="openInfoSetter()">

                        <md-icon md-svg-src="icons/ic_info_outline_white_24px.svg"></md-icon><span>Information</span>

                    </md-button>

                    <span flex></span>
                </div>
            </md-toolbar>


            <div ng-include="'pages/info.html'"></div>

        </md-sidenav>


        <div class="col-lg-3 col-md-3 hide-gt-md">
            <!--  Left for large devices-->
            <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')"  hide-md hide-sm >

                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-button >

                            <md-icon md-svg-src="icons/ic_info_outline_white_24px.svg"></md-icon><span>Information</span>

                        </md-button>

                        <span flex></span>
                    </div>
                </md-toolbar>

                <div ng-include="'pages/info.html'"></div>


            </md-sidenav>

        </div>

        <!--  Right col for loading html file-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <md-toolbar>
                <div class="md-toolbar-tools">

                    <md-button class="md-icon-button" ng-click="openInfoSetter()" hide-gt-lg>

                        <md-icon md-svg-src="icons/ic_info_outline_white_24px.svg"></md-icon>
                   </md-button>

                    <!--Device selector-->
                    <!--TODO: Adapt according to the actual device screen. Only allow smaller then current configuration-->
                    <span>
                    <md-select ng-model="topping" placeholder="Preview Size" hide-sm>

                        <md-option  ng-value="None" ng-click="resetDisplay()"> <md-button >Reset Display </md-button></md-option>

                        <md-optgroup label="Desktop">
                            <md-option ng-model = "device.name" ng-value="device.name" ng-click="updateDisplay(device.width,device.height)" ng-repeat="device in devices | filter: {category: 'Desktop' }">{{device.name}}</md-option>
                        </md-optgroup>
                        <md-optgroup label="Phone">
                            <md-option ng-model = "device.name" ng-value="device.name" ng-click="updateDisplay(device.width,device.height)" ng-repeat="device in devices | filter: {category: 'Phone' }">{{device.name}}</md-option>
                        </md-optgroup>
                        <md-optgroup label="Phablet">
                            <md-option ng-model = "device.name" ng-value="device.name" ng-click="updateDisplay(device.width,device.height)" ng-repeat="device in devices | filter: {category: 'Phablet' }">{{device.name}}</md-option>
                        </md-optgroup>
                        <md-optgroup label="Tablet">
                            <md-option ng-model = "device.name" ng-value="device.name" ng-click="updateDisplay(device.width,device.height)" ng-repeat="device in devices | filter: {category: 'Tablet' }">{{device.name}}</md-option>
                        </md-optgroup>

                    </md-select>
                    </span>

                    <span flex></span>
                   <md-button  ng-click="openTemplateSelector()" > <md-icon md-svg-src="icons/ic_input_white_24px.svg"></md-icon>  <span hide-sm >Select Different Template </span></md-button>
                </div>
            </md-toolbar>

            <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
                <!--Currtemplate will be set in templateview.html-->
                <iframe id="myResponsiveWindow" ng-src="{{profile.currTemplate}}" style="width: 100%; height: 1024px"></iframe>
            </md-whiteframe>


        </div>

</div>

    </div>