<!--Main body-->
<div class="container-fluid">
    <!--Main row -->
    <div class="row">

        <!--  Left col for enterign data-->
        <div class="col-xs-3 leftCol ">

            <div class="form-group">
                <input type="text" ng-change="updateIframe()" placeholder="Enter bride name" class="form-control"
                       ng-model="data">
                <button ng-click="updateIframe()">Reset</button>
            </div>


        </div>

        <!--  Right col for loading html file-->
        <div class="col-xs-9 rightCol">
            <label class="label label-info">{{mytext}}</label>


            <div style="height: 40px;">
                <button onclick="reset();">Reset</button>
                <button onclick="resize(1024)">1024</button>
                <button onclick="resize(960)">960</button>
                <button onclick="resize(528)">528</button>
            </div>

            <iframe id="myResponsiveWindow" src="templates/1/index.html" style="width: 100%; height: 660px"></iframe>


        </div>

    </div>

    <!--Template selector -->
    <div class="row">
        <p>Current selected Template ID is {{selectedTemplID}}</p>

        <div class="col-xs-12">


            <div class="list-group" ng-repeat="template in tempInfo">
                <a href="#" ng-click="selectTempl(template)" ng-class="{active:selected==template}"
                   class="list-group-item active">
                    <h4 class="list-group-item-heading">{{template.name}}</h4>

                    <p class="list-group-item-text">{{template.desc}}</p>
                </a>

            </div>


        </div>

    </div>