<!--<button  class="btn btn-primary" ng-click="login_anon()">Login Anonymously</button>-->


<p><br /></p>
<!--Main row -->
<div class="container">
<div class="row">

    <!--  Left col for normal login-->
    <div class="col-xs-6 ">
        <h1>Sign In <small>with APPNAME account:</small></h1>

        <form name="loginForm">
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Email" ng-model="email">

                <md-input-container>
                    <label>Email</label>
                    <input  ng-model="email">
                    <div ng-messages="loginForm.description.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>

            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password" ng-model="password">
            </div>

            <div class="form-group">
                <button ng-hide="loadingLogin" class="btn btn-warning btn-lg" ng-click="login_normal()">Sign In </button>
                <md-progress-circular md-mode="indeterminate"  ng-show="loadingLogin"></md-progress-circular>
                <!-- TODO: Maak register page en link die -->
                <a href="#" ng-hide="loadingLogin">or Create a new account</a>
                </div>
                <div class="form-group">

               </div>
                <div class="form-group">


            </div>
        </form>


    </div>

    <!--  Right col for facebook nd other logins-->
    <div class="col-xs-6">
        <h1>Sign In <small>with another account:</small></h1>

        <button class="btn btn-facebook" ng-click="login_normal()"> <i class="fa fa-facebook-square"></i>Sign In with Facebook</button>

    </div>

</div>
</div>


<p ng-if="authData">Logged in user: <strong>{{ authData.uid }}</strong></p>
<p ng-if="error">Error: <strong>{{ error }}</strong></p>
