<!--<button  class="btn btn-primary" ng-click="login_anon()">Login Anonymously</button>-->


<p><br /></p>
<!--Main row -->
<div class="container">
<div class="row">

    <!--  Left col for normal login-->
    <div class="col-xs-6 ">
        <h1>Sign In <small>with APPNAME account:</small></h1>
        <form >
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Email" ng-model="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password" ng-model="password">
            </div>

            <div class="form-group">
                <button class="btn btn-warning btn-lg" ng-click="login_normal()">Sign In</button>
                <a href="#">New Registration</a>
            </div>
            


        </form>

    </div>

    <!--  Right col for facebook nd other logins-->
    <div class="col-xs-6">
        <h1>Sign In <small>with another account:</small></h1>

        <button class="btn btn-facebook" ng-click="login_normal()"> <i class="fa fa-facebook-square"></i>Sign In with Facebook</button>

    </div>

</div>
</div>


<p ng-if="authData">Logged in user: <strong>{{ authData.uid }}</strong></p>
<p ng-if="error">Error: <strong>{{ error }}</strong></p>
